/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {width: 100%; height: 100%; }
body { margin: 0; padding: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

///////////////////////
.container{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  min-width: 100%;
  padding: 0;
  margin:0;
  background-color: rgb(247, 242, 242);
  
 }

 .main-toolbar{
  flex-direction: row;
  display: flex;
  background-color: rgb(238, 235, 235);
  justify-content: space-between;
  width: 100%;
  height: 120px;
}

.user-security{
  display: flex;
  flex-direction: row;
  align-self: center;
  height: 40px;
}
.search-field{
  display: flex;
  flex-direction: row;
  align-self: center;
  margin: "2%";
  font-style: italic;

}
.logo-icon{
  display: flex;
  align-items: center;
  margin-left: 2px;
}

.logo-button{
  border-radius: 100% 100% 100% 100% / 30% 30% 30% 30%;
  background: linear-gradient(47deg, rgba(2,0,36,0) 0%, rgba(179,4,126,1) 0%, rgba(255,173,0,1) 96%);
  height: 30px;
  margin: 3%;
}

.initial-buttons, .new-user-filter-icon{
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  justify-content: space-between center;

}
.end-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(95, 94, 94);
}
.home-power-settings{
  display: flex;
  float: row;
}
.filter-button{
  display: inline-block;
  background-color: white;
  justify-content: end;
  margin-right: 5px;
}

.security-button{
  background: #ffffff;
  border: none;
  border-radius: 10% 10% 10% 10%;

}
.person-button{
  background: linear-gradient(47deg, rgba(2,0,36,0) 0%, rgba(179,4,126,1) 0%, rgba(255,173,0,1) 96%);
  border: none;
  border-radius: 10% 10% 10% 10%; 
}

.new-user-button{ 
  background-color: rgb(202, 6, 98);
  color: white;
  font-size: 9pt;
}
.person-icon{
  color: white;
  align-items: center;
}

.user-icon{
  color: white;
  margin-bottom: 3px;
  
}

.vl {
  border: 1px solid rgb(229, 250, 221);
  height: 20px;
  align-self: center;
  display: flex;
  flex-direction: row;
  margin: 12%;

}

.last-row{
  display: flex;
  flex-direction: column;
  background-color: white;
}

.body-page{
  display: flex;
  flex-direction: row;
  height: 100%;
  //align-items: center;
  //align-self: center;
  //justify-content: center;
}

////////////@


td {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 8pt;
  margin: 3%;
}

th{
  text-align: center;
  background-color: white;
  height: 40px;
  font-size: 8pt;
  font-weight: normal;
  margin: 3%;
}


table{ 
  width: 100vw;
  height: 70%;
  //min-width: 100%;
  margin-top:5%;
  margin-left: 5%;
  margin-right: 5%;
  align-self: center;
  align-items: center;
}

.toolbar-table{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}


.material-icons{
  background-color: none;
  border:none;
}

.action-td , .action-head{
  text-align: end;
}

li{
  margin: 10px;
  color: black;
}

.pagination-control{
  margin: 5%;
  display: flex;
  align-self: center;
}


.action-buttons{ 
  opacity: 0;
}
.table-hover tbody tr:hover .action-buttons{
  opacity: 1;
  color: black;
}



.table-hover tbody tr:hover{
  color: rgba(255, 255, 255, 0.534) !important;
  border-bottom:1pt solid rgb(202, 6, 98);
}

.action-icon{
  font-size:10pt;
}

.action-buttons{
  display:flex;
  flex-direction: row;
  
}

.td-buttons{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
}

.more-vert{
  display:flex;
  flex-direction: row;

}

.td-status{
  color: green;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 40px;
 background-color: rgb(43, 41, 41);
}

.live-informations{
  color: orange;
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-left: 3%;
}

.encounter{
  display: flex;
  flex-direction: row;
  align-self: center;
  font-size: 10pt;
  justify-content: flex-start;
  color:white
}
.update{
  display: flex;
  flex-direction: row;
  align-self: center;
  font-size: 10pt;
  font-style: italic;
  color: white;
}

.tv-icon {
  margin-left: 2px;
  font-size: 10pt;
  margin-top: 3px;
  color: white;
}

.radio-button-icon{
  font-size: 10pt;
  margin-top: 3px;
}

.update-icon{
  font-size: 10pt;
  margin-top: 3px;
  color: white
}

.datetime-footer{
  display: flex;
  flex-direction: row;
  align-self: center;
  font-size: 10pt;
  font-style: italic;
  color: white;

}

.date-complete{
  align-self: center;
  margin-right: 2px;
  font-size: 8pt;

}

.hour{
  font-size: 15pt;
  color: orange;
  margin-right: 3%;
  display: inline-block;

}

.first-part-footer{
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: flex-start;
}

.second-part-footer{
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: flex-end;
  align-self: center;
}
