@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.mat-dialog-container{
    padding: 0px !important;
}

.mat-expansion-panel-body {
    padding: 0 !important;
    margin: 4%;
    align-self: center;
}

